################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PolicyAuthAPI/PolicyAuthAPI/.vs
/PolicyAuthAPI/PolicyAuthAPI/bin/Debug/net5.0/bin
/PolicyAuthAPI/PolicyAuthAPI/bin/Debug/net5.0
/PolicyAuthAPI/PolicyAuthAPI/obj
/PolicyAuthAPI/PolicyAuthAPI/packages
